textarea {
  resize: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
